# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dependencies
/node_modules*

# testing
/coverage
/e2e/test-results
/e2e/playwright-report
/e2e/.playwright

# sandbox
scratch

claude.*

# tarballs
*.gz

# development
*.code-workspace
.eslintcache

node_modules
dist
dist-ssr
dist-electron
release
*.local

# misc

# Storybook
storybook-static

# Editor directories and files
.DS_Store
.vscode/*
!.vscode/extensions.json
.*.un~
.*un~
.idea