*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  /* font-size: 62.5%; */
  font-weight: 500;
}

body {
  font-size: 1.4rem;
  color: var(--white-color);
  height: 100vh;
}

.springboard {
  width: 100%;
}

#drawsView {
  font-size: 70%;
}

.subTable {
  padding-bottom: 1em;
  background-color: #e7e6e7;
}

.activeScoreCell {
  margin: 2px;
  margin-left: 0px;
  background: #D3D3D3;
  font-size: 15px;
  padding: 8px;
  border: 1px solid rgb(203, 248, 203);
}

.event-pill {
  font-size: .8rem !important;
  margin-right: 2px;
}
.font-medium {
  font-size: 15px;
}

#tournaments .tabulator-row table tr td:first-of-type {
  width: 60px;
}

.main {
  width: 100%;
  min-height: 50vh;
}

.tableClass {
  background-color: white;
}

/* prevent scrollbar on hover in Tabulator tables */
.tabulator-tableholder {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.tabulator-tableholder::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

/* minimum height prevents jumpy rendering */
.section {
  padding: 0em;
  /* padding-right: .7rem !important; */
  min-height: 1000px;
  /* margin-left: 1rem;*/
}

.tmxLogo {
  width: 120px;
}

.toggleCaret {
  font-size: larger;
  color: rgb(76, 76, 242);  
}


.main,
#tc-draws {
  background-color: white;
}

#unscheduledVisibility {
  margin-bottom: 2em;
}

.panel_container {
  width: 100%;
}

.controlBar,
.foreground {
  background-color: white;
}

.mfcButton {
  transition: all .2s ease-in-out;
  background-color: inherit;
  border: none;
  color: inherit;
  padding: .3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

.panelHeader {
  background-color: rgb(192 193 211);
  -webkit-align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  display: flex;
  padding: 1em;
  height: 3em;
  width: 100%;

  flex-grow: 1;
}
.draw_buttons { padding: 1em; }
.buttonBar { padding: .5em; }
.tabHeader { padding: .5em; padding-bottom: 0em; }

.draw_buttons,
.buttonBar,
.options_left {
  display: flex;
  flex-direction: row;
  align-content: center;
  -webkit-flex-direction: row;
  -webkit-align-content: center;
}
.draw_options,
.buttonBar {
  flex-direction: row;
  width: 100%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.options_left {
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.options_center,
.options_right {
  -webkit-align-content: center;
  align-content: center;
  display: flex;
}
.options_center {
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.options_right {
  flex-grow: 1;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.options_overlay {
  flex-grow: 1;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  display: none;
}

/* from index styles */
.tournament_container {
  width: 100%;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  display: flex;
}

.flexrow,
.flexrow-wrap {
  -webkit-flex-direction: row;
  flex-direction: row;
  display: flex;
}
.flexrow {
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flexrow-wrap {
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flexnowrap {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flexcol {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flexaligncenter {
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.flexcenter {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.flexjustifystart {
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.flexjustifyend {
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.location_detail_body {
  padding: 0.3em;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.ellipsis {
  overflow: hidden;
}
.ellipsis,
.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn,
.ellipsis,
.nowrap,
.truncate {
  white-space: nowrap;
}
html {
  touch-action: manipulation;
}
* {
  box-sizing: border-box;
}
.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#content {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
}
.header {
  margin-bottom: 0.5em;
}
.container {
  width: 100%;
  min-height: 15em;
  font-size: 1em;
}

/*
*/

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

dnav {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: top 500ms ease-in-out;
  border-bottom: 1px solid #ddd;
}

dnav.scroll-up,
dnav:focus-within {
  top: 0;
}

dnav.scroll-down {
  top: -100%;
}

.links {
  display: flex;
  margin: 0 -1em;
}

.links a {
  display: inline-block;
  margin: 0 1em;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

dnav a {
  color: #0f0f0f;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.dnav-item-text {
  margin-top: 1.5rem;
  transition: opacity 0.6s ease;
  opacity: 1;
}

.nav-icon { width: 2em; }
img {
  max-width: 200%; /* override minireset */
}

@media (max-width: 767px) {
  .nav-icon { font-size: .8em; }
  #pageTitle { display: none; }
  #config { display: none; }
  #content { padding: 0; }
  body { margin: 2px; }
}